name: ForecastPipeline

on:
  workflow_dispatch:

  schedule:
    - cron: '10 23 * * 3'

jobs:
  trace_job:
    # if: ${{ github.repository_owner == 'european-modelling-hubs' && (github.event_name == 'workflow_dispatch' || github.event_name == 'schedule') }}
    if: ${{ github.repository_owner == 'european-modelling-hubs' }}
    runs-on: ubuntu-latest
    steps:
      - run: echo "Job-activated, event -> ${{ github.event_name }}"

  
  gen_baseline_job:
    if: ${{ github.repository_owner == 'european-modelling-hubs' && (github.event_name == 'workflow_dispatch' || github.event_name == 'schedule') }}
    uses: ./.github/workflows/generate_baseline_pipelined.yml
    secrets: inherit     # passa tutti i secrets del repo/org al figlio

  gen_ensemble_job:
    needs: gen_baseline_job
    uses: ./.github/workflows/generate_ensemble_pipelined.yml
    secrets: inherit

  upload_forecasts_job:
    needs: gen_ensemble_job
    uses: ./.github/workflows/upload_forecasts_pipelined.yml
    secrets: inherit

  upload_baseline_ensemble_job:
    needs: upload_forecasts_job
    uses: ./.github/workflows/upload_baseline_ensemble_pipelined.yml
    secrets: inherit
    
  
